.regular-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.language-selector {
  width: 100%;
  margin-bottom: 20px;
}

.text-container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  height: 200px; /* 고정 높이 설정 */
}

.input-container {
  padding-bottom: 50px; /* 버튼 공간 확보 */
}

.text-area {
  border: none;
  resize: none;
  width: 100%;
  height: calc(100% - 40px); /* 버튼 공간 제외한 높이 */
  outline: none;
  background-color: transparent;
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.translate-button {
  background-color: #dd6b20 !important; /* Chakra UI의 orange.500 색상 */
  color: white !important;
}

.translate-button:hover {
  background-color: #ed8936 !important; /* Chakra UI의 orange.400 색상 */
}

.output-container .text-area {
  height: calc(100% - 40px); /* 북마크 버튼 공간 확보 */
}

.output-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.bookmark-button {
  background-color: #dd6b20 !important; /* Chakra UI의 orange.500 색상 */
  color: white !important;
}

.bookmark-button.bookmarked {
  background-color: #ed8936 !important; /* Chakra UI의 orange.400 색상 */
}

.bookmark-button:hover {
  background-color: #ed8936 !important; /* Chakra UI의 orange.400 색상 */
}

.bookmark-button.bookmarked:hover {
  background-color: #dd6b20 !important; /* Chakra UI의 orange.500 색상 */
}